<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DevOps Dashboard</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

<header>
<h1><i class="fas fa-server"></i> DevOps Dashboard</h1>

<div class="actions">
<input type="text" id="search" placeholder="Search service...">
<button id="themeBtn">🌙</button>
</div>
</header>

<section class="hero">
<h2>Welcome DevOps Engineer</h2>
<p>Monitor AWS, Docker, Jenkins & Kubernetes in one place.</p>
</section>

<section class="cards">

<div class="card">
<i class="fab fa-aws icon"></i>
<h3>AWS EC2</h3>
<p>Status:
<span class="online">Running</span>
</p>

<div class="progress">
<div id="ec2"></div>
</div>

</div>

<div class="card">

<i class="fab fa-docker icon"></i>

<h3>Docker</h3>

<p>Containers:
<span id="dockerCount">12</span>
</p>

<div class="progress">

<div id="docker"></div>

</div>

</div>

<div class="card">

<i class="fas fa-cogs icon"></i>

<h3>Jenkins</h3>

<p>

Build:
<span id="buildStatus">Success</span>

</p>

<div class="progress">

<div id="jenkins"></div>

</div>

</div>

<div class="card">

<i class="fas fa-dharmachakra icon"></i>

<h3>Kubernetes</h3>

<p>

Pods:
<span id="pods">8 Healthy</span>

</p>

<div class="progress">

<div id="k8s"></div>

</div>

</div>

</section>

<section class="status">

<h2>Deployment Status</h2>

<ul>

<li>✔ Spring Boot Application</li>

<li>✔ Docker Image Built</li>

<li>✔ Jenkins Pipeline Success</li>

<li>✔ Kubernetes Rolling Update</li>

<li>✔ AWS EC2 Running</li>

</ul>

</section>

<section class="monitor">

<div class="box">

<h3>Live Clock</h3>

<h1 id="clock"></h1>

</div>

<div class="box">

<h3>Notification</h3>

<p id="notify">

Deployment completed successfully.

</p>

</div>

</section>

<section class="services">

<h2>Services</h2>

<table>

<tr>

<th>Service</th>

<th>Status</th>

</tr>

<tr>

<td>Nginx</td>

<td class="online">Running</td>

</tr>

<tr>

<td>Tomcat</td>

<td class="online">Running</td>

</tr>

<tr>

<td>MySQL</td>

<td class="online">Running</td>

</tr>

<tr>

<td>Redis</td>

<td class="warning">Warning</td>

</tr>

</table>

</section>

<footer>

<p>

Designed by Raju B N |
Java Full Stack & DevOps Engineer

</p>

</footer>

<script src="script.js"></script>

</body>
</html>
